@import './test/reset';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import './test/bg';
@import './test/initMenu';

@import './mainPage/mainMenu';
@import './mainPage/about';
@import './mainPage/contact';
@import './mainPage/footer';
@import './mainPage/knowledge';
@import './mainPage/projects';

html {
  scroll-behavior: smooth;
}

.centering {
  border: 1px solid red;
  margin: 0 auto;
}

.mainWidth {
  width: 1280px;
  margin: 0 auto;
  background-color: lightcyan;
}
.mainHeight{
  height: 70vh;
  border: 1px solid blue;
}
