@import './test/reset';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import './test/bg';
@import './test/initMenu';

@import './mainPage/mainMenu';
@import './mainPage/about';
@import './mainPage/contact';
@import './mainPage/footer';
@import './mainPage/knowledge';
@import './mainPage/projects';

html {
  scroll-behavior: smooth;
  font-family: 'Titillium Web', sans-serif;
}
.bckgd{
  background-color: white;
}

.centering {
  //border: 1px solid red;
  margin: 0 auto;
}

.mainWidth {
  max-width: 1920px;
  min-width: 1280px;
  margin: 0 auto;
  background-color: white;
}
.mainHeight{
  height: 70vh;
  //border: 1px solid blue;
}

// animacja zmiany strony
.load-in {
  opacity: 0;
}
.load-in.visible {
  transition: opacity 1s ease-in;
  opacity: 1;
}

// wielkość nagłówków i zawartości strony
.container {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 3rem;
  position: relative;
  overflow: overlay;
  .containerDiv{
    font-size: 1.4rem;
    text-indent: 10%;
    padding: 5%;

  }
}