.skillsImg{
  width: 40%;
  display: inline-block;
}
.skillsList{
  width: 49%;
  display: inline-block;
  margin-left: -15%;
  font-size: 1.8rem;
  font-weight: bold;
}
.skillsLiElement{
  font-size: 1.6rem;
  text-indent: 15%;
}
