.mainMenu {
  width: 100vw;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 200;
}

.mainMenuDiv {
  height: 30px;
  max-width: 200px;
  background-color: darkgoldenrod;
  margin: 10px;
  border-radius: 5px;

}

.mainMenuButtons {
  text-decoration: none;
  width: 100%;
  justify-content: space-evenly;

}
.mainMenuButtons.active{
  box-shadow: 0px 0px 30px indianred;
}

.mainMenuButtonsText {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: maroon;
  padding: 2px;
}