.projectGrid{
  display: inline-flex;
  padding: 10px;
  width: 1240px;
  justify-content: space-evenly;
}

.projectTable{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}
.projectElement{
  width: 50%;
  height: 500px;
  margin: 5px;
  border: 1px solid greenyellow;
}

.projectGalHeight{
  display: inline;
}